<nav>
  <a href="/">Ola, Doc!</a>
  <a href="/user/profile/<%= user.id %>">Profile</a>
  <% if (user.role == 'Doctor') { %>
  <a href="/medicalRecord/patients/<%= user.id %>">Medical Records</a>
  <% } else { %>
  <a href="/medicalRecord/doctors/<%= user.id %>">Medical Records</a>
  <% } %>
</nav>
