<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add New Medical Record</title>
  </head>
  <body>
    <div class="flex flex-col w-full max-w-md mx-auto min-h-full p-10">
      <h1 class="text-lg font-semibold text-gray-900">
        Add New Medical Record
      </h1>
      <form
        class="mt-10 flex flex-col gap-y-8"
        method="post"
        action="/medicalRecord/add/"
      >
        <div>
          <label class="block text-sm font-medium" for="DoctorId">Doctor</label>
          <br />
          <select class="w-full" name="DoctorId" id="DoctorId">
            <option value="">--- Select One ---</option>
            <% doctors.forEach(el => { %>
            <option value="<%= el.id %>"><%= el.UserProfile.name %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium" for="symptom"
            >Symptoms</label
          >
          <br />
          <textarea
            class="block rounded-md border border-gray-300 text-gray-900 w-full"
            name="symptom"
            id="symptom"
          ></textarea>
        </div>
        <div class="flex w-full">
          <button
            class="rounded-md text-base font-semibold shadow-sm bg-blue-600 hover:bg-gray-500 text-white w-full"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
