<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diseases</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Diseases List</h1>

    <form>
      <input type="text" name="search" id="search" />
      <button>Search</button>
    </form>
    <hr />

    <a href="/diseases/add"><button>Add Disease</button></a>
    <hr />

    <table>
      <tr>
        <th>No.</th>
        <th>Disease Name</th>
        <th>Disease Description</th>
        <th>Action</th>
      </tr>
      <% diseases.forEach((el, i) => { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= el.name %></td>
        <td><%= el.desc %></td>
        <td>
          <a href="/diseases/delete/<%= el.id %>"><button>Delete</button></a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
