<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medical Records</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Medical Records</h1>

    <a href="/addMedicalRecord/<%= userId %>"><button>Add Medical Record</button></a>
    <hr />

    <table>
      <tr>
        <th>Doctor Name</th>
        <th>Disease Name</th>
        <th>Disease Desc</th>
        <th>Cost</th>
        <th>Symptoms</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
    </table>
  </body>
</html>
