<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
  </head>
  <body>
    <h1>Register New User</h1>

    <form method="post">
      <p>
        <label for="name">Full Name</label> <br />
        <input type="text" id="name" name="name" />
      </p>
      <p>
        <label for="email">Email</label> <br />
        <input type="text" id="email" name="email" />
      </p>
      <p>
        <label for="password">Password</label> <br />
        <input type="password" id="password" name="password" />
      </p>
      <p>
        <label for="role">Role</label> <br />
        <select name="role" id="role">
          <option value="">--- Select One ---</option>
          <% roles.forEach(el => { %>
          <option value="<%= el %>"><%= el %></option>
          <% }) %>
        </select>
      </p>
      <p>
        <label for="dateOfBirth">Date of Birth</label> <br />
        <input type="date" id="dateOfBirth" name="dateOfBirth" />
      </p>
      <button>Register</button>
    </form>
  </body>
</html>
